<div class="scenario-edit">
    <div class="baisc-info">
        <div class="input-group">
            <span class="input-group-addon">[[_.('profiler.scenario.name')]]</span>
            <input type="text" class="form-control input-xxlarge width-80" ng-model="name">
        </div>
        <div class="input-group">
            <span class="input-group-addon">[[_.('profiler.scenario.description')]]</span>
            <textarea class="form-control input-xxlarge width-80" ng-model="description"></textarea>
        </div>
    </div>
    <div class="request-list">
        <div class="caption">
            [[_.('profiler.scenario.request.list')]]
            <button class="close" ng-click="addRequest()" title="[[_.('profiler.scenario.request.add')]]">
                <i class="icon-plus pull-right"></i>
            </button>
        </div>
        <div ng-repeat="request in requests" class="request">
            <button class="pull-right close" ng-click="removeRequest(request)" title="[[_.('profiler.scenario.request.remove')]]">&times;</button>
            <div class="input-group">
                <span class="input-group-addon">[[_.('profiler.scenario.request.url')]]</span>
                <input type="text" class="form-control input-xxlarge" ng-model="request.url">
            </div>
            <div class="input-group">
                <span class="input-group-addon">[[_.('profiler.scenario.request.method')]]</span>
                <select ng-model="request.method"  class="form-control">
                    <option ng-repeat="method in methods" value="[[method.value]]" ng-selected="method.value === request.method">[[_.(method.text)]]</option>
                </select>
            </div>
            <div class="input-group">
                <label>
                    <span class="input-group-addon">[[_.('profiler.scenario.request.toMeasure')]]</span>
                    <input type="checkbox" ng-model="request.toMeasure">
                </label>
            </div>
            <div class="request-parameter-list">
                <button class="close" ng-click="addParameter(request)" title="[[_.('profiler.scenario.request.parameter.add')]]">
                    <i class="icon-plus pull-right"></i>
                </button>
                <div ng-hide="request.parameters.length">[[_.('profiler.scenario.request.parameters.list')]]</div>
                <div class="request-parameter-container">
                    <div ng-repeat="parameter in request.parameters" class="request-parameter">
                        <div class="pull-right">
                            <button class="close" ng-click="removeParameter(request, parameter)" title="[[_.('profiler.scenario.request.parameter.remove')]]">
                                &times;
                            </button>
                        </div>
                        <div class="input-group">
                            <div class="input-group">
                                <span class="input-group-addon">[[_.('profiler.scenario.request.parameter.name')]]</span>
                                <input type="text" class="form-control" ng-model="parameter.name">
                            </div>
                            <div class="input-group">
                                <span class="input-group-addon">[[_.('profiler.scenario.request.parameter.value')]]</span>
                                <input type="text" class="form-control" ng-model="parameter.value">
                            </div>
                            <div class="input-group">
                                <span class="input-group-addon">[[_.('profiler.scenario.request.method')]]</span>
                                <select ng-model="parameter.method"  class="form-control">
                                    <option ng-repeat="method in methodsParams[request.method]" value="[[method.value]]"
                                            ng-selected="method.value === parameter.method">
                                        [[_.(method.name)]]
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="request-filter-list">
                <button class="close" ng-click="addFilter(request)" title="[[_.('profiler.scenario.request.filter.add')]]">
                    <i class="icon-plus pull-right"></i>
                </button>
                <div ng-hide="request.filters.length">[[_.('profiler.scenario.request.filter.list')]]</div>
                <div class="request-filter-container">
                    <div ng-repeat="filter in request.filters" class="request-filter">
                        <div class="pull-right">
                            <button class="close" ng-click="removeFilter(request, filter)" title="[[_.('profiler.scenario.request.filter.remove')]]">
                                &times;
                            </button>
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon">[[_.('profiler.scenario.request.filter.type')]]:</span>
                            <select ng-model="filter.type"  class="form-control">
                                <option ng-repeat="type in filterTypes" value="[[type.value]]" ng-selected="type.value === filter.type">
                                    [[_.(type.text)]]
                                </option>
                            </select>
                            <div class="input-group filter-parameter" ng-repeat="parameter in filter.parameters" ng-include="'filter-parameter.html'"></div>
                            <menu ng-if="filter.options.length" dclass="'btn'" data="filter.options"
                                  dscope="filter" dtitle="'profiler.scenario.request.filter.parameter.add'">
                            </menu>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="validate-message alerts" ng-show="alerts.length">
        <div class="alert alert-danger" ng-repeat="alert in alerts"><b>[[_.(alert.caption)]]:</b> [[_.(alert.message)]]</div>
    </div>
    <div class="buttons btn-group">
        <button class="btn" ng-click="send()">[[_.('main.save')]]</button>
        <button class="btn" ng-click="back('/profiler/mysql/scenarios')">[[_.('main.cancel')]]</button>
    </div>
</div>

<script type="text/ng-template" id="filter-parameter.html">
    <div ng-if="parameter.options.operators.length === 1" class="control-group">
        <button class="close pull-right" ng-click="removeFilterParameter(filter, parameter)" title="[[_.('profiler.scenario.request.filter.parameter.remove')]]">
            &times;
        </button>
        <label>
            <span class="control-label">[[_.(parameter.options.text)]]</span>
            <span class="controls" ng-if="parameter.options.operators.0.value !== 'boolean'">[[_.(parameter.options.operators.0.text)]]</span>
            <input class="controls" type="text" ng-if="parameter.options.operators.0.value !== 'boolean'" ng-model="parameter.value" ng-value="parameter.value">
            <span class="controls" ng-if="parameter.options.operators.0.value === 'boolean'"><input type="checkbox" ng-model="parameter.value"></span>
        </label>
    </div>
    <div ng-if="parameter.options.operators.length > 1" class="control-group">
        <button class="close" ng-click="removeFilterParameter(filter, parameter)" title="[[_.('profiler.scenario.request.filter.parameter.remove')]]">
            &times;
        </button>
        <span class="control-label">[[_.(parameter.options.text)]]</span>
        <select ng-model="parameter.operator"  class="form-control controls">
            <option ng-repeat="operator in parameter.options.operators" value="[[operator.value]]"
                    ng-selected="operator.value === parameter.operator">
                [[_.(operator.text)]]
            </option>
        </select>
        <input class="controls" type="text" ng-model="parameter.value" ng-value="parameter.value">
    </div>
</script>