<div class="measure-edit">
    <div class="baisc-info">
        <div class="input-group">
            <span class="input-group-addon">[[_.('profiler.measure.name')]]</span>
            <input type="text" class="form-control" ng-model="name">
        </div>
        <div class="input-group">
            <span class="input-group-addon">[[_.('profiler.measure.description')]]</span>
            <textarea class="form-control" ng-model="description"></textarea>
        </div>
    </div>
    <div class="request-list">
        <div ng-show="requests.length" class="caption">[[_.('profiler.measure.request.list')]]</div>
        <div ng-repeat="request in requests" class="request">
            <div class="input-group">
                <span class="input-group-addon">[[_.('profiler.request.url')]]</span>
                <input type="text" class="form-control" ng-model="request.url">
            </div>
            <div class="input-group">
                <span class="input-group-addon">[[_.('profiler.request.method')]]</span>
                <select ng-model="request.method"  class="form-control">
                    <option ng-repeat="method in methods" value="[[method.value]]" ng-selected="method.value === request.method">[[_.(method.name)]]</option>
                </select>
            </div>
            <div class="input-group">
                <span class="input-group-addon">[[_.('profiler.request.toMeasure')]]</span>
                <input type="checkbox" ng-model="request.toMeasure">
            </div>
            <div class="request-parameter-list">
                <div ng-show="request.parameters.length">[[_.('profiler.request.parameters.list')]]</div>
                <div ng-repeat="parameter in request.parameters" class="request-parameter">
                    <div class="input-group">
                        <span class="input-group-addon">[[_.('profiler.request.parameter.name')]]</span>
                        <input type="text" class="form-control" ng-model="parameter.name">
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">[[_.('profiler.request.parameter.value')]]</span>
                        <input type="text" class="form-control" ng-model="parameter.value">
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">[[_.('profiler.request.method')]]</span>
                        <select ng-model="parameter.method"  class="form-control">
                            <option ng-repeat="method in methodsParams[request.method]" value="[[method.value]]" ng-selected="method.value === parameter.method">[[_.(method.name)]]</option>
                        </select>
                    </div>
                    <button class="btn" ng-click="removeParameter(request, parameter)">[[_.('profiler.request.parameter.remove')]]</button>
                </div>
                <div class="request-parameter-add">
                    <button class="btn" ng-click="addParameter(request)">[[_.('profiler.request.parameter.add')]]</button>
                </div>
            </div>
            <button class="btn" ng-click="removeRequest(request)">[[_.('profiler.measure.request.remove')]]</button>
        </div>
        <button class="btn" ng-click="addRequest()">[[_.('profiler.measure.request.add')]]</button>
    </div>
    <div class="validate-message alerts" ng-show="alerts.length">
        <div class="alert alert-danger" ng-repeat="alert in alerts"><b>[[_.(alert.caption)]]:</b> [[_.(alert.message)]]</div>
    </div>
    <div class="buttons btn-group">
        <button class="btn" ng-click="send()">[[_.('main.save')]]</button>
        <button class="btn" ng-click="back()">[[_.('main.cancel')]]</button>
    </div>
</div>