<div>
    <table>
        <tr>
            <td>[[_.('profiler.scenario.test.measure.summary.dateOfStart')]]:</td>
            <td>[[summary.started | date:'d.M.yyyy H:mm:ss']]</td>
        </tr>
        <tr>
            <td>[[_.('profiler.scenario.test.measure.summary.time')]]:</td>
            <td>[[summary.time]] ms</td>
        </tr>
        <tr>
            <td>[[_.('profiler.scenario.test.measure.summary.calls')]]:</td>
            <td>[[summary.calls]]</td>
        </tr>
        <tr>
            <td>[[_.('profiler.scenario.test.measure.summary.maxImmersion')]]:</td>
            <td>[[summary.maxImmersion]]</td>
        </tr>
    </table>
</div>