<div class="search-filter-string">
    <h3><span class="search-filter-item-name label label-default">[[_.(filter.name)]]</span></h3>
    <select class="search-filter-item-operator" ng-model="filter.operator" ng-change="send(filter)">
        <option ng-repeat="operator in filter.operators" value="[[operator.value]]">[[_.(operator.text)]]</option>
    </select>
    <select ng-show="filter.operator !== 'set'" class="search-filter-item-input" ng-model="filter.value" ng-change="send(filter)">
        <option ng-repeat="value in filter.values" value="[[value.value]]" ng-selected="$first">[[_.(value.name)]]</option>
    </select>
</div>