<div class="search-filters-main">
    <div class="search-filters-menu">
        <menu dclass="'btn'" data="menu" dtitle="'search.filter.menu.title'"></menu>
    </div>
    <div class="search-filters-list">
        <div ng-repeat="filter in filters" class="search-filter well well-small">
            <button class="pull-right close" ng-click="dropFilter(filter)">&times;</button>
            <div ng-include="templates[filter.type]" class="search-filter-item"></div>
            <div ng-show="filter.isValid === false" class="search-filter-invalid alert alert-danger">[[_.('search.filter.invalid')]]</div>
        </div>
    </div>
    <div class="search-filters-menu" ng-show="filters.length">
        <menu class="inline-block" dclass="'btn'" data="menu" dtitle="'search.filter.menu.title'"></menu>
        <button class="btn" ng-click="sendAll()">[[_.('search.filter.button.show')]] <span ng-if="resultTotal >= 0">([[resultTotal]])</span></button>
    </div>
</div>