<div class="dropdown">
    <a data-toggle="dropdown" class="dropdown-toggle">{{_.(title)}} <b class="caret"></b></a>
    <ul class="dropdown-menu">
        <li role="presentation" ng-repeat="item in data" ng-class="item.submenu ? 'dropdown-submenu' : ''" ng-include="'menu-directive-item.html'">
        </li>
    </ul>
</div>

<script type="text/ng-template" id="menu-directive-item.html">
    <a ng-href="{{item.href}}" ng-click="onClick(item)">{{_.(item.text)}}</a>
    <ul ng-if="item.submenu" class="dropdown-menu">
        <li ng-repeat='item in item.submenu' ng-include="'menu-directive-item.html'">
        </li>
    </ul>
</script>