<div>
    <table>
        <tr>
            <td>Datum spuštění:</td>
            <td>[[statistic.started | date:'d.M.yyyy H:mm:ss']]</td>
        </tr>
        <tr>
            <td>Doba zpracování:</td>
            <td>[[statistic.time]] ms</td>
        </tr>
        <tr>
            <td>Počet volání:</td>
            <td>[[statistic.calls]]</td>
        </tr>
        <tr>
            <td>Nejvyšší úroveň zanoření:</td>
            <td>[[statistic.maxImmersion]]</td>
        </tr>
    </table>
</div>