<div>
    <table>
        <tr>
            <td>[[_.('profiler.measure.test.dateOfStart')]]</td>
            <td>[[statistic.started | date:'d.M.yyyy H:mm:ss']]</td>
        </tr>
        <tr>
            <td>[[_.('profiler.measure.test.time')]]</td>
            <td>[[statistic.time]] ms</td>
        </tr>
        <tr>
            <td>[[_.('profiler.measure.test.calls')]]</td>
            <td>[[statistic.calls]]</td>
        </tr>
        <tr>
            <td>[[_.('profiler.measure.test.maxImmersion')]]</td>
            <td>[[statistic.maxImmersion]]</td>
        </tr>
    </table>
</div>