<div class="list profiler-measure-list">
    <input type="text" ng-model="search" class="search-query" placeholder="Vyhledat">
    <table class="table table-striped table-bordered table-hover table-responsive">
        <thead>
            <tr>
                <th ng-click="predicate='name'; reverse=!reverse"><i ng-class="selectSortClass('name', predicate, reverse)"></i>Název</th>
                <th>Popis</th>
                <th ng-click="predicate='link'; reverse=!reverse"><i ng-class="selectSortClass('link', predicate, reverse)"></i>Adresa</th>
                <th ng-click="predicate='edited'; reverse=!reverse"><i ng-class="selectSortClass('edited', predicate, reverse)"></i>Poslední změna</th>
                <th>Parametry</th>
                <th class="center actions"><a href="#/profiler/new"><i class="icon-plus-sign"></i></a></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="measure in measures | filter:search | orderBy:predicate:reverse">
                <td><a href="#/profiler/detail/[[measure.id]]" >[[measure.name]]</a></td>
                <td>[[measure.description]]</td>
                <td>[[measure.link]]</td>
                <td>[[measure.edited | date:'d.M.yyyy H:mm:ss']]</td>
                <td>[[parseParams(measure.parameters)]]</td>
                <td class="center btn-group actions">
                    <a href="#/profiler/edit/[[measure.id]]" class="btn"><i class="icon-pencil"></i></a>
                    <a ng-click="deleteMeasureDialog(measure.id)" class="btn"><i class="icon-trash"></i></a>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<script type="text/ng-template" id="modal-delete.html">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Smazat měření</h3>
    </div>
    <div class="modal-body">
        Potvrdit smazání měření.
    </div>
    <div class="modal-footer">
      <button class="btn" ng-click="deleteMeasure(deleteMeasureId);dismiss()">Ano</button>
      <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Ne</button>
    </div>
</script>

<script type="text/ng-template" id="modal-start.html">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Průběh Měření</h3>
    </div>
    <div class="modal-body">
        Probíhá měření.
        <div class="icon-load"></div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Zavřít</button>
    </div>
</script>