<div class="form-horizontal panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">[[_('search.source')]]</h3>
    </div>
    <div class="panel-body">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">[[_('search.source.search')]]</h3>
            </div>
            <div class="alert alert-danger" ng-show="searchErrorMessage">
                [[searchErrorMessage && _(searchErrorMessage)]]
            </div>
            <div ng-controller="SearchFiltersCtrl" ng-include="templateSearch" class="panel-body">
            </div>
        </div>
        <div class="panel panel-default well-sm" ng-show="source.target">
            <div class="btn-group inline-block width-10">
                <span>[[_('search.source.select')]]:</span>
            </div>
            <div class="btn-group inline-block width-min-240">
                <label class="btn btn-default" ng-model="source.type" btn-radio="'template'">[[_('search.source.select.template')]]</label>
                <label class="btn btn-default" ng-model="source.type" btn-radio="'all'">[[_('search.source.select.all')]]</label>
                <label class="btn btn-default" ng-model="source.type" btn-radio="'manual'">[[_('search.source.select.manual')]]</label>
            </div>

            <div ng-show="source.type === 'manual'" class="inline-block">
                <button class="btn btn-default" ng-click="selectPage(currentPage, pageSize)">[[_('search.source.select.manual.selectPage')]]</button>
                <button class="btn btn-default" ng-click="cleanSelect()">[[_('search.source.select.manual.cleanSelect')]]</button>
            </div>

            <div class="search-result-list list-80" ng-show="items.length > 0">
                <select ng-model="pageSize" ng-options="size for size in pageSizes" class="form-control pageSize"></select>
                <table class="table table-striped table-bordered table-hover table-responsive statistics-source-list"
                       ng-class="source.type === 'manual' ? 'search-source-list-enable' : 'search-source-list-disable'">
                    <tr class="search-result-item search-result-[[source.target]]"
                        ng-include="searchTemplates[source.target]"
                        ng-repeat="item in items | startFrom:(currentPage-1)*pageSize | limitTo:pageSize"
                        ng-click='selectItem(item)'
                        ng-class="source.type === 'manual' && __.indexOf(selected, item.id) !== -1 ? 'success' : ''">
                    </tr>
                </table>
                <div class="center">
                    <pagination boundary-links="true" total-items="totalItems" ng-model="currentPage" items-per-page="pageSize" previous-text="&lsaquo;"
                        next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;">
                    </pagination>
                </div>
            </div>
        </div>
        <div ng-show="validation.source" class="alerts margin-1-top">
            <div class="alert alert-danger"><b>[[_('search.source')]]</b>: [[ _('main.validate.invalid')]]</div>
        </div>
    </div>
</div>