<nav class="navbar navbar-default navigation" role="navigation">
    <div class="navbar-inner">
        <ul class="nav navbar-nav" ng-include="'menu-items.html'">
        </ul>
    </div>
</nav>

<script type="text/ng-template" id="menu-items.html">
    <li ng-repeat='item in item.submenu' class="dropdown">
        <a ng-if="!item.submenu" ng-href="[[item.href]]">[[_.(item.text)]]</a>
        <a ng-if="item.submenu" ng-href="[[item.href]]" class="dropdown-toggle" data-toggle="dropdown">[[_.(item.text)]]&nbsp;<b class="caret"></b></a>
        <ul ng-if="item.submenu" class="dropdown-menu"  ng-include="'menu-items.html'">
        </ul>
    </li>
</script>